@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jacquarda+Bastarda+9&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Patrick Hand', cursive;
}

header {
    height: 10vh;
    font-size: 4vh;
    background-image: url(/img/picnic_pattern.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-size: 6.4vh;
    vertical-align: middle;
}

header a {
    color: #7A5832;
}

header img {
    vertical-align: middle;
}

img.main-icon {
    width: 6vh;
}

img.icon {
    width: 8vh;
}

h1 {
    font-size: 16vh;
    color: white;
}

h1:hover {
    transform: skewX(15deg);
    transition: 1s;
}

h1, h2 {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 200;
}

#landing-page {
    height: 100vh;
    background-image: url(/img/8ea010307b0145b798709a3553ed2bbb.gif);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 8vh;
    color: #C5202E;
}

h3 {
    color: #E1B65F;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    background-color: white;
}

header * {
    display: inline;
}

main {
    background-color: #E8A32A;
    color: white;
}

article {
    font-size: 4vh;
    background-color: #C5202E;
    margin: 0.8vh;
    padding: 2vh;
    width: 28%;
}

footer {
    background-color: #7A5832;
    text-align: center;
    font-size: 2.8vh;
    color: #DBB07B;
}

section {
    align-content: center;
    text-align: center;
}

section article {
    display: inline-block;
}

.code {
    background-color: #F3E8E2;
    color: #EF783E;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
}

.use {
    color: #FFC907;
    font-style: italic;
}
