@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Patrick Hand', cursive;
}

h1 {
    font-size: 16vh;
    font-weight: 200;
    color: white;
}

h1:hover {
    color: blue;
    transition: 2s;
}

h1, h2 {
    font-family: "Jacquarda Bastarda 9", serif;
}

#landing-page {
    height: 100vh;
    background-image: url(/img/8ea010307b0145b798709a3553ed2bbb.gif);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 8vh;
    font-weight: 200;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    background-color: white;
}

header * {
    display: inline;
}

main {
    background-color: black;
    color: white;
}

article {
    font-size: 4vh;
    background-color: red;
}

footer {
    background-color: yellow;
}

section {
    align-content: center;
    text-align: center;
}

section article {
    display: inline-block;
}