@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jacquarda+Bastarda+9&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Patrick Hand', cursive;
}

header {
    height: 10vh;
    font-size: 4vh;
    background-image: url(../img/picnic_pattern.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h2 {
    font-size: 6.4vh;
    vertical-align: middle;
    font-family: "Jacquarda Bastarda 9", serif;
}

header a {
    color: #7A5832;
}

header img {
    vertical-align: middle;
}

img.main-icon {
    width: 6vh;
}

img.icon {
    width: 8vh;
}

#landing-page h1 {
    font-size: 12em;
    color: white;
    font-weight: 200;
    font-family: "Jacquarda Bastarda 9", serif;
}

#landing-page h1:hover {
    transform: skewX(15deg);
    transition: 1s;
}

#landing-page {
    height: 100vh;
    background-image: url(../img/8a1e2a57e549e453bbeacb428989bca5.gif);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article h3 {
    color: #E1B65F;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    background-color: white;
}

header * {
    display: inline;
    font-weight: 500;
    color: #C5202E;
}

main {
    color: white;
}

article {
    font-size: 4vh;
    background-color: #C5202E;
    margin: 2vh;
    padding: 2vh;
    width: 28%;
    border-radius: 2vh;
}

section {
    align-content: center;
    text-align: center;
}

#definitions {
    background-image: url(../img/mr_fox_pattern.jpg);
}

section article {
    display: inline-block;
    vertical-align: middle;
}

#title {
    background-color: #FFC907;
    position: sticky;
    top: 0;
    font-size: 8vh;
    color: #C5202E;
    font-weight: 400;
    font-family: "Jacquarda Bastarda 9", serif;
    z-index: 2;
}

.code {
    background-color: #F3E8E2;
    color: #EF783E;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
}

.use {
    color: #FFC907;
    font-style: italic;
}

#definitions a {
    background-color: #FFC907;
    color:#C5202E;
    font-size: 2em;
    padding: 0.2em;
    position: fixed;
    bottom: 4em;
    right: 2em;
    border: #C5202E dashed 0.16em;
    border-radius: 1.8em;
}

footer {
    text-align: center;
    font-size: 2.8vh;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3cf88;
    border-top: 2em groove #EF783E;
    padding: 2em;
}

span img {
    height: 4em;
    vertical-align: middle;
}

footer * {
    margin: 1.6em;
}

footer a:last-of-type {
    margin: 0.2em;
}

footer a {
    color: #C5202E;
}

a img {
    width: 1.2em;
    height: auto;
    margin: 0.2em;
}

@media (max-width:720px){
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    article {
        width: 80%;
    }   

    #landing-page h1 {
        font-size: 6.4em;
    }

    #landing-page {
        background-image: url(img/b6e5994f0a28413a4368c0c84c23cc27.gif);
        height: 100vh;
        background-size: cover;
    }

    header {
        position: fixed;
        top: 0;
        height: 20vh;
        font-size: 2em;
        width: auto;
    }

    #title {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #C5202E 0.2em solid;
        font-size: 6em;
    }

    footer {
        border-top: 24vh;
        height: 74vh;
        padding: 0.2em;
        font-size: 2em;
    }

    footer * {
        margin: 0;
        text-align: center;
    }

    span img {
        width: 90%;
        height: auto;
    }

    a img {
        margin: 0.2em;
        width: 2em;
        height: auto;
    }

    #definitions a {
        bottom: 1em;
    }

    main {
        margin-top: 20vh;
    }
}